.foodSpotClass_Card{
    .ratio-16x9{
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7));
        img{
            -webkit-filter: brightness(75%);
                    filter: brightness(75%);
            &:hover{
                -webkit-transform: scale(1.15);
                        transform: scale(1.15);
            }
        }
    }
    .text-white{
        z-index: 10;
    }
}
.foodSpot_showSpotArea{
    .ratio-13x10{
        img{
            &:hover{
                -webkit-transform: scale(1.15);
                        transform: scale(1.15);
            }
        }
    }
}