.home_activity{
    .card{
        max-height: 120px;
        overflow: hidden;
        @media screen and (max-width:992px) {
            max-height: 80px;
            border: 0;
        }
        &-body{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 120px;
            @media screen and (max-width:992px) {
                height: 80px;
                padding: 0 1rem;
            }
        }
        &-img{
            width: 100%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            height: 120px;
            @media screen and (max-width:992px) {
                height: 80px;
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
            }
            &:hover {
                -webkit-transform: scale(1.15);
                        transform: scale(1.15);
            }
        }
    }
}