.swiper-button-next,.swiper-button-prev{
    width: 40px;
    height: 40px;
}

.swiper-button-next:after,.swiper-button-prev:after {
    content: '';
}

.swiper-pagination{
    text-align: right;
    padding-right: 50px;
    @media screen and (max-width:992px) {
        padding-right: 25px;
    }
}

.swiper-pagination-bullet{
    opacity: 0.8;
    background: #C4C4C4;
    width: 14px;
    height: 14px;
    @media screen and (max-width:992px) {
        width: 10px;
        height: 10px;        
    }
}

.swiper-pagination-bullet-active{
    background: #fff;
    opacity: 1;
}